.card {
  max-width: 40%;
  min-height: 100px;
  padding: 10px;
  display: flex;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card__image-post {
  margin-right: 10px;
}

.card__title-post {
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  font-weight: 500;
}

.card__desc-post {
  font-size: 15px;
}
